<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container navbar-container">
        <a class="navbar-brand" href="#">El Prode de la Scaloneta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Inicio</a>
                <a class="nav-link" href="/posiciones">Posiciones</a>
                <a class="nav-link" href="/reglamento">Reglamento</a>
                <a class="nav-link" href="/participantes/6337c64e1d739ffa78e0e173">Prode Oficial</a>
            </div>
            
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                <% } else if (!currentUser.isAdmin) { %>
                    <a class="nav-link" href="/participantes/<%= currentUser._id %>">Mi Prode</a>
                    <a class="nav-link" href="/password">Cambiar contraseña</a>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } else { %>
                    <a class="nav-link" href="/registrar">Nuevo participante</a>
                    <a class="nav-link" href="/participantes/<%= currentUser._id %>">Prode Oficial</a>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
