<% layout('layouts/boilerplate') %>

<section class="hero d-flex justify-content-center align-items-center">
    <div class="container">
        <h1 class="hero__title m-0 text-center display-1 pb-5">El Prode<br>de la Scaloneta</h1>
    </div>
</section>

<section class="prode">
    <img class="img-prode" src="/img/grupos.jpg" alt="">
</section>

<section class="videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XjAn72eve1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pU89OpwBgOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GI1ncuWYaso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>