<% layout('layouts/boilerplate') %>

<div class="image-container standings-rules-image-container">

    <div class="container py-5 rules-container">
        <h1 class="text-center mb-3">Reglamento</h1>
        
        <ol class="text-muted">
            <li class="mb-3">El costo de la inscripción es de $500. Una vez abonada la misma, se le asignará al participante un usuario en la página y un prode en blanco que podrá editar las veces que quiera.</li>
            <li class="mb-3">La fecha límite para editar el prode es el 18 de noviembre, es decir, dos días antes del comienzo del mundial.</li>
            <li class="mb-3">Si para ese momento el participante dejó partidos sin completar, perderá la posibilidad de sumar puntos en dichos partidos.</li>
            <li class="mb-3">Si el participante acierta el equipo ganador (o empate), ganará 4 puntos. Si además acierta el resultado exacto, sumará 3 puntos extra, haciendo un total de 7 puntos por dicho partido. En caso de no acertar el equipo ganador (o empate), no sumará puntos.</li>
            <li class="mb-3">Si el participante acierta el país campeón, sumará un extra de 7 puntos. </li>
            <li class="mb-3">Si el participante acierta el goleador del mundial, sumará un extra de 5 puntos. La opción "Ninguno de estos" contempla a cualquier jugador que no esté en la lista de opciones. Es decir, si un participante elige la opción "Ninguno de estos", y el goleador del mundial resulta ser un jugador que no está en la lista de las opciones, el participante ganará los 5 puntos.</li>
            <li class="mb-3">Tanto en el caso del país campeón como en el del goleador, si el participante tiene seleccionada la opción "Sin elegir aún" perderá la posibilidad de sumar puntos.</li>
            <li class="mb-3">Los resultados de los partidos se cargarán inmediatamente concluyan, y automáticamente se actualizarán los puntajes de cada participante.</li>
            <li class="mb-3">El presente prode NO incluye los partidos de llaves (octavos, cuartos, semis y final), solamente involucra a los partidos de fase de grupos.</li>
            <li class="mb-3">Premios:
                <ul class="mt-1">
                    <li class="mb-2">Primer puesto: $50.000</li>
                    <li class="mb-2">Segundo puesto: $30.000</li>
                    <li class="mb-2">Tercer puesto: $20.000</li>
                </ul>
            </li>
            <li class="mb-3">En caso de empate, el premio se divide en partes iguales.</li>
            <li class="class-mb-3">Los premios se entregarán dentro de la primera semana de finalizado el mundial.</li>
        </ol>
    </div>

</div>
