<% layout('layouts/boilerplate') %>

<div class="image-container standings-rules-image-container">

    <div class="container py-5 rules-container">
        <h1 class="text-center mb-3">Reglamento</h1>
        
        <ol class="text-muted">
            <li class="mb-3">El costo de la inscripción es de $500. Una vez abonada la misma, se le asignará al participante un usuario en la página y un prode en blanco que podrá editar las veces que quiera.</li>
            <li class="mb-3">El presente prode incluye los partidos de fase de grupos y los partidos de llaves (octavos, cuartos, semis, tercer puesto y final). Además, cada participante elegirá al país campeón y al goleador del mundial.</li>
            <li class="mb-3">En una primera instancia, el participante podrá editar la fase de grupos, así como al país campeón y al goleador del mundial. La fecha límite para hacerlo es hasta una hora antes del comienzo del mundial, momento en el que se deshabilitará la opción de editar el prode.</li>
            <li class="mb-3">Al finalizar la fase de grupos, y ya con los cruces de octavos definidos, se habilitará a los participantes a editar el prode, solamente la instancia de octavos, hasta una hora antes del comienzo de dicha fase.</li>
            <li class="mb-3">Al finalizar la fase de octavos, y ya con los cruces de cuartos definidos, se habilitará a los participantes a editar el prode, solamente la instancia de cuartos, hasta una hora antes del comienzo de dicha fase.</li>
            <li class="mb-3">Al finalizar la fase de cuartos, y ya con los cruces de semis definidos, se habilitará a los participantes a editar el prode, solamente la instancia de semis, hasta una hora antes del comienzo de dicha fase.</li>
            <li class="mb-3">Al finalizar la fase de semis, y ya con los cruces de la final y tercer puesto definidos, se habilitará a los participantes a editar el prode, solamente los partidos del tercer puesto y la final, hasta una hora antes del comienzo de dicha fase.</li>
            <li class="mb-3">Si el participante dejó partidos sin completar al finalizar el período de edición, perderá la posibilidad de sumar puntos en dichos partidos.</li>
            <li class="mb-3">En los partidos de llaves, el resultado computado será aquél ocurrido al finalizar los 90 minutos, salvo en el caso de empate, que se computará el resultado al finalizar los 120 minutos.</li>
            <li class="mb-3">Si el participante acierta el equipo ganador (o empate), ganará 4 puntos. Si además acierta el resultado exacto, sumará 3 puntos extra, haciendo un total de 7 puntos por dicho partido. En caso de no acertar el equipo ganador (o empate), no sumará puntos.</li>
            <li class="mb-3">Si el participante acierta el país campeón, sumará un extra de 7 puntos. </li>
            <li class="mb-3">Si el participante acierta el goleador del mundial, sumará un extra de 5 puntos. La opción "Ninguno de estos" contempla a cualquier jugador que no esté en la lista de opciones. Es decir, si un participante elige la opción "Ninguno de estos", y el goleador del mundial resulta ser un jugador que no está en la lista de las opciones, el participante ganará los 5 puntos.</li>
            <li class="mb-3">Tanto en el caso del país campeón como en el del goleador, si el participante tiene seleccionada la opción "Sin elegir aún" perderá la posibilidad de sumar puntos.</li>
            <li class="mb-3">Los resultados de los partidos se cargarán inmediatamente concluyan, y automáticamente se actualizarán los puntajes de cada participante.</li>
            <li class="mb-3">Premio: el 100% del pozo acumulado para el participante que obtenga mayor puntaje al finalizar el mundial.</li>
            <li class="mb-3">En caso de empate, el premio se divide en partes iguales.</li>
            <li class="mb-3">Los premios se entregarán dentro de la primera semana de finalizado el mundial.</li>
        </ol>
    </div>

</div>
