<% layout('layouts/boilerplate') %>

<div class="image-container standings-rules-image-container">

    <div class="container py-5 rules-container">
        <h1 class="text-center mb-3">Reglamento</h1>
        
        <ol class="text-muted">
            <li class="mb-2">El costo de la inscripción es de $500. Una vez abonada la misma, se le asignará al participante un usuario en la página y un prode en blanco que podrá editar las veces que quiera.</li>
            <li class="mb-2">La fecha límite para editar el prode es el 18 de noviembre, es decir, dos días antes del comienzo del mundial.</li>
            <li class="mb-2">Si para ese momento el participante dejó partidos sin completar, perderá la posibilidad de sumar puntos en dichos partidos.</li>
            <li class="mb-2">Si el participante acierta el equipo ganador (o empate), ganará 2 puntos. Si además acierta el resultado exacto, sumará 3 puntos extra, haciendo un total de 5 puntos por dicho partido. En caso de no acertar el equipo ganador o empate, no sumará puntos.</li>
            <li class="mb-2">Los resultados de los partidos se cargarán inmediatamente concluyan, y automáticamente se actualizarán los puntajes de cada participante.</li>
            <li class="mb-2">Premios:</li>
                <ul>
                    <li class="mb-2">Primer puesto: $50.000</li>
                    <li class="mb-2">Segundo puesto: $30.000</li>
                    <li class="mb-2">Tercer puesto: $20.000</li>
                </ul>
            <li class="mb-2">En caso de empate, el premio se divide en partes iguales.</li>
        </ol>
    </div>

</div>
