<% layout('layouts/boilerplate') %>

<div class="image-container user-image-container">
    <div class="container py-5 text-center">
    
        <h1>Cambiar contrase単a</h1>

        <form action="/password" method="post">
            <div class="mb-3">
                <label for="oldPassword">Contrase単a vieja: </label>
                <input type="password" id="oldPassword" name="oldPassword" required>
            </div>
            <div class="mb-3">
                <label for="newPassword">Contrase単a nueva: </label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <button class="btn btn-success">Cambiar contrase単a</button>
        </form>  
        
    </div>
</div>
